.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width:1px ;
  border-bottom-style: solid;
  border-color: rgb(231, 229, 229);
  z-index: 100;
  
  
}

.left-section{
  display: flex;
  align-items: center;

}

.hamburger-menu{
  height:24px;
  margin-left: 20px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo{
  height: 22px;
  padding-bottom: 3px;
}

.middle-section{
  flex: 1;
  margin-left: 30px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;

}

.search-bar{
  font-family: Roboto,arial;
  flex:1;
  height: 35px;
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid rgb(204,204,204);
  border-radius: 2px;
  width: 0px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.08);
  
}



.search-bar::placeholder{
  
  font-size: 15px;
  
}

.search-button{
  height:39px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(189, 176, 176);
  margin-left: -1px;
  margin-right: 10px;
 
  
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-icon-container,
.notification-icon-container
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}



.search-icon{
  height: 26px;
}

.voice-search-button{

  height: 40px;
  width: 30px;
  border-radius: 22px;
  border: none;
  background-color: rgb(245, 245, 245);
  
}

.voice-search-icon{
  height: 24px;
}



.voice-search-button
{
  height: 24px;
}

.upload-icon,
.youtube-icon,
.notification-icon
{
  height: 26px;
  
}

.notification-icon-container{
  position: relative;

}

.notification-count{
  position: absolute;
  right: -3px;
  top: -2px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  border: none;
  
}

.current-user-icon{
  height: 30px;
  cursor: pointer;
}

.right-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-right: 20px;
  flex-shrink: 0;
}


.search-button .tooltip , 
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-icon-container .tooltip,
.notification-icon-container .tooltip
{

  
  position: absolute;
  background-color: grey;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 0;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  cursor: pointer;
  bottom: -45px;
  
  
}

.search-button:hover .tooltip ,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip
{
  opacity: 1;
  
}